<div class="widget-box" id="recent-box" ng-controller="agegroupController">
	<div class="widget-header header-color-blue">
		<div class="row">
			<div class="col-sm-6">
				<h4 class="bigger lighter">
					<i class="glyphicon glyphicon-align-justify"></i>&nbsp;
					AGE GROUP LIST
				</h4>
			</div>
		</div>
	</div>
	<div class="widget-body ">
		
		<p/>
		<h3>Select Age Group - New</h3>
		<select 
			
			data-ng-model="ageGroup" 
			data-ng-options="agegroup.idagegroup for agegroup in agegroups">
		</select>

		<p/>
		<h3>Select Team - Filter</h3>
		<select 
			
			data-ng-model="teamGroup" 
			data-ng-options="team.idteam for team in teamlist | filter:{fkagegroupid: ageGroup.idagegroup}">
		</select>

	</div>
</div>

